

.search {
    position: relative;
    margin: 10px 0 20px;
}

.search input {
    height: 53px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 42px;
    border: 1px solid #999;
}

.search input:focus {
    padding: 0 41px;
    border: 2px solid #999;
}

.search input::placeholder {
    color: #B8B8B8;
}

.search_button{
    text-align: center;
    width: 100%;
}

.search :where(i, span) {
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
}

.search i {
    left: 18px;
    pointer-events: none;
    font-size: 16px;
}

.search input:focus~i {
    color: black;
}

.search span {
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

.search input:valid~span {
    display: block;
}

.loading{
    position: relative;
    top: 10vh;
}

#loading_icon {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #3366FF;
    border-radius: 100%;
    margin: auto;
    visibility: visible;
    animation: spin 1s infinite linear;
}

#loading_text{
    text-align: center;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.result_list {
    background-color: white;
    border-radius: 10px;
    padding-right: 1rem;
    color: black;
}

.result_li {
    margin-bottom: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
    word-wrap: break-word;
}

.result_li:first-child {
    padding-top: 20px;
}

.result_li:last-child {
    border-bottom: none;
}

.result_word{
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 0;
    color: #36f;
    cursor: pointer;
    text-decoration: none;
}

.result_word:hover {
    color: #00d4ffb0;
}

.result_span {
    font-size: 15px;
    color: #3c6;
}
