* {
  font-size: large !important;
}

.navbar-nav {
  width: 100%;
  margin-top: 20px;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  color: white;
}


.nav-item {
  width: 33.33%;
  text-align: center;
}

.navbar-nav .nav-link.active {
  color: #00BFFF
}

.container {
  color: white;
}

#root {
  background: url(./img/bg-img-01.jpg) center center/cover no-repeat;
}

.wrapper {
  margin: 0 auto;
  padding: 60px 0;
  max-width: 900px;
  min-height: 100vh;
}

.card {
  background: rgba(0, 0, 0, 0.8);
  padding: 30px 50px;
}



@media (min-width: 576px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
  }

}

@media (max-width: 576px) {
  .nav-item {
    width: 100%;
  }

  .card {
    padding: 30px 0;
  }

}